.graph-label {
    position: absolute;
    background: transparent;
    color: var(--interactive-accent);
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    border: 1px solid var(--interactive-accent);
    backdrop-filter: blur(6px); /* blur what's behind */
    -webkit-backdrop-filter: blur(6px); /* Safari support */
    min-width: 10vh;
    max-width: 20vh;
    word-break: break-word;     /* Allows breaking long words at arbitrary points */
    overflow-wrap: break-word;  /* Ensures breaking only when needed */
    text-align: center;
}

.graph-label.hidden {
    opacity: 0;
    pointer-events: none;
}